<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/dee49c46-d5fe-4c49-8726-d8d7f45d1de9/resourceGroups/SI220danielamelendres/providers/Microsoft.Web/sites/Parcial20211109232842</ResourceId>
    <ResourceGroup>SI220danielamelendres</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://parcial20211109232842.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>aa3e0cff-b14a-45ea-b18a-9abbaff4f942</ProjectGuid>
    <PublishUrl>https://parcial20211109232842.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Parcial20211109232842</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>